cmake-build-*/
Makefile
cmake_install.cmake
compile_commands.json
*.o
CMakeFiles
CMakeScripts
CTestTestfile.cmake
CMakeCache.txt
*.so
*.dll
*.a
install_manifest.txt
*~
fst2vcd
fstminer
vcd2fst
evcd2vcd
lxt2miner
lxt2vcd
vcd2lxt
vcd2lxt2
vcd2vzt
vzt2vcd
vztminer
test
*.fst
*.vcd
.vscode